@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

div, button {
  margin: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'proxima_nova_rgregular', sans-serif;
    background: rgb(24, 24, 24);
    color: #fff;
    max-width: 1400px;
    margin: 0 auto;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -75px;
}

.login-btn {
  background: #1db954;
  font-family: 'proxima_nova_rgbold', sans-serif;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 150px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}

.app-container {
  display: flex;
  position: relative;
}

.left-side-section {
  background: #000;
  position: fixed;
  top: -10px;
  left: -10px;
  bottom: -10px;
  width: 200px;
  overflow-y: auto;
  z-index: 999;
}

.main-section {
  position: relative;
  left: 160px;
  padding: 0 10px;
}

.main-section-container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 100px;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #444; 
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.track-search-container {
	position: relative;
	top: 10px;
}

.header {
  position: fixed;
  width: 841px;
  z-index: 1000;
	display: flex;
  justify-content: space-between;
  margin-top: -30px;
  margin-left: -20px;
	background: rgb(24, 24, 24);
}

.track-search-container input {
	background: #fff;
	width: 120px;
	border-radius: 10px;
	border: none;
  font-family: 'proxima_nova_rgregular', sans-serif;
	padding: 4px 4px 4px 10px;
	outline: none;
}

.track-search-container {
  padding-left: 30px;
}

.search {
	margin-left: 5px;
	cursor: pointer;
	cursor: pointer;
  color: white;
  font-size: 15px;
}

.user-details-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  background: rgb(24, 24, 24);
}

.user-image {
  border-radius: 50%;
  height: 30px;
}

.user-name {
  color: #fff;
  font-size: 14px;
  position: relative;
  top: 5px;
  margin-left: 10px;
}

.side-menu-container {
  font-weight: 600;
  padding: 20px;
  color: rgb(179, 179, 179);
  margin: 0;
}

.side-menu-container .active {
  margin-left: -5px;
  color: #fff;
}

.side-menu-container .active:before {
	content: "";
	border-left: 5px solid #1db954;
	position: relative;
	left: -15px;
}

.side-menu-item {
  list-style-type: none;
  line-height: 30px;
  font-size: 15px;
  width: 140px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.side-menu-item:hover {
  color: #fff;
}

.user-library-header {
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'proxima_nova_rgregular', sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 0 0 5px 0;
  letter-spacing: 1px;
}

.user-playlist-container {
  padding: 20px 20px 20px 20px;
  color: rgb(179, 179, 179);
  margin: 0;
}

.user-playlist-header {
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'proxima_nova_rgregular', sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 0 0 5px 0;
  letter-spacing: 1px;
}

.user-playlist-item {
  list-style-type: none;
  line-height: 28px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 140px;
  cursor: pointer;
}

.user-playlist-item:hover {
  color: #fff;
}

.user-playlist-container .active {
  margin-left: -5px;
  color: #fff;
}

.user-playlist-container .active:before {
	content: "";
	border-left: 5px solid #1db954;
	position: relative;
	left: -15px;
}

.playlist-image {
  height: 230px;
  width: 230px;
  object-fit: cover;
}

.playlist-image-container {
  width: 230px;
  color: rgb(24, 24, 24);
}

.playlist-title-container {
  display: flex;
  height: 260px;
}

.playlist-info-container {
  padding-left: 20px;
  position: relative;
  top: 75px;
}

.created-by {
  font-family: 'proxima_nova_rgregular', sans-serif;
  font-size: 13px;
  color: #aaa;
  padding: 8px 0;
}

.lighter-text {
  font-family: 'proxima_nova_rgregular', sans-serif;
  color: #fff;
}

.playlist-text {
  font-family: 'proxima_nova_rgregular', sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
}

.header-title {
  font-size: 48px;
  padding: 3px 0 5px 0;
}

.current-artist-header-container {
	display: flex;
}

.current-artist-image {
	width: 180px;
	height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.current-artist-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 20px;
}

.current-artist-info p {
	text-transform: uppercase;
	font-family: 'proxima_nova_rgregular', sans-serif;
	font-size: 13px;
}

.artist-button {
	margin-top: 20px;
	margin-left: 40px;
}

.artist-view-container {
  width: 850px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.artist-item {
  padding: 10px 20px 20px 0;
  list-style-type: none;
  line-height: 28px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 180px;
  cursor: pointer;
  text-align: center;
}

.artist-item a {
  text-decoration: none;
  color: #fff;
}

.artist-item img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.artist-image img {
  opacity: 1;
}

.artist-image img:hover {
  opacity: 0.4;
}

.artist-details {
  padding-left: 20px;
}

.album-view-container {
  width: 850px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.album-item {
  padding: 10px;
  list-style-type: none;
  line-height: 28px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 180px;
  cursor: pointer;
}

.album-image {
    position: relative;
}

.album-image img {
  width: 100%;
}

.album-item img:hover {
  opacity: 0.3;
}

.album-image .play-song {
  width: 40px;
  opacity: 0;
  text-align: center;
}

.album-image .play-song.fa{
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ccc;
  cursor: pointer;
  -webkit-text-stroke: 6px rgb(24, 24, 24);
  z-index: -1;
}

.album-image:hover > .play-song {
  opacity: 1;
}

.album-details {
  line-height: 22px
}

.album-details .artist-name {
  color: rgb(179, 179, 179);
  font-family: 'proxima_nova_rgregular', sans-serif;
}

.section-title {
  font-size: 34px;
  font-weight: 800;
  font-family: 'proxima_nova_rgbold', sans-serif;
}

.user-song-item {
  list-style-type: none;
  border-bottom: 1px solid #333;
  display: flex;
  line-height: 40px;
  font-size: 14px;
  cursor: pointer;
}

.user-song-item:hover {
  background: rgb(51, 51, 51);
}

.active.user-song-item {
  color: #1db954;
  background: rgb(51, 51, 51);
}

.add-song {
	color: #fff;
}

.user-song-item:hover {
  opacity: 1;
}

.song-title,
.song-title-header {
  width: 300px;
}

.song-album,
.song-album-header {
  width: 300px;
}

.song-artist,
.song-artist-header {
  width: 250px;
}

.song-added {
  width: 80px;
}

.user-song-item.fa {
  font-size: 30px;
  position: relative;
  top: 5px;
  color: #ccc;
  cursor: pointer;
  -webkit-text-stroke: 2px rgb(24, 24, 24);
}

.song-title p,
.song-artist p,
.song-album p,
.song-length p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 8px;
  line-height: 14px;
}

.song-length,
.song-length-header {
	width: 60px;
}

.song-added,
.song-added-header {
	width: 80px;
}

.song-album,
.song-album-header {
	width: 210px;
}

.song-artist,
.song-artist-header {
	width: 180px;
}

.song-title,
.song-title-header {
	width: 250px;
}

.song-title-header p,
.song-artist-header p,
.song-album-header p,
.song-length-header p {
  font-family: 'proxima_nova_rgregular', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #ccc;
  padding-left: 8px;
}

.song-length-header .fa-clock-o {
  font-size: 17px;
  color: #ccc;
}

.song-added-header {
  width: 80px;
  color: #ccc;
}

.song-header-container {
  display: flex;
  margin-left: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #333;
}

select {
	display: inline-block;
	font-size: 48px;
  font-family: 'proxima_nova_rgbold', sans-serif;
  font-weight: 700;
	color: #fff;
	box-sizing: border-box;
  margin: -7px 0 0 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #fff;
  height: 55px;
  width: 250px;

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: rgba(0, 0, 0, 0);
}
